@keyframes copy-pulse {
  0% {
    background-color: #374151;
  }
  50% {
    background-color: #4B5563;
  }
  100% {
    background-color: #374151;
  }
}

.copy-animate {
  animation: copy-pulse 0.5s ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-out;
}